---
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("recipes")).sort(
  (a, b) => a.data.title > b.data.title
);
---

<Layout>
  <section>
  
      {
        posts.map((post) => (
          <div>
            <a class="no-underline" href={`/recipes/${post.slug}/`}>
              <img src={post.data.image} alt="" />
              <h2 class="mt-0 py-2 bg-black text-white text-center">{post.data.title}</h2>
              <p class="date">
                <!-- <FormattedDate date={post.data.date} /> -->

              </p>
            </a>
          </div>
        ))
      }

  </section>
</Layout>
