---
const { site } = Astro.props;
---

<div class="my-3">
  <a
    class="no-underline text-white hover:no-underline hover:text-default"
    href={site}
  >
    <button class="cursor-pointer border bg-rose-600 px-3 py-1 rounded-full"
      >View original recipe</button
    >
  </a>
</div>
