---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import Badge from "../components/Badge.astro";

type Props = CollectionEntry<"recipes">["data"];

const { title, image, site } = Astro.props;
---

<Layout>
  <article>
    <div class="hero-image">
      {image && <img src={image} alt="" />}
    </div>
    <div class="prose">
      <div class="title">
        <h1>{title}</h1>
        <hr />
      </div>

      {site && <Badge site={site} />}

      <slot />
    </div>
  </article>
</Layout>
